.quack {
  padding: 8% 0;
  display: grid;
  grid-template-columns: 800px 400px;
  grid-template-rows: repeat(13, 100px);
  margin: 2% 2%;
  column-gap: 5%;
  justify-items: center;
}

main img {
  border: 10px inset #101d42;
  width: 500px;
}

.quack a {
  display: block;
}

main p {
  border: 10px inset #1f487e;
  background-color: #101d42;
  color: #ffda90;
  padding: 5px;
}

#a1 {
  grid-row: 1/2;
}

#a2 {
  grid-row: 3/4;
}

#a3 {
  margin-top: 7%;
  grid-row: 5/6;
}

#a4 {
  margin-top: 5%;
  grid-row: 7/8;
}

#a5 {
  grid-row: 8;
  grid-column: 2 / end;
}

#a6 {
  grid-row: 9;
  margin-top: 7%;
}

#a1,
#a2,
#a3,
#a4,
#a6 {
  grid-column: 1;
}

.img1,
.img2,
.img3 {
  grid-column: 2 / end;
}
.img1 {
  grid-row: 1;
}

.img2 {
  grid-row: 11;
}

.img3 {
  margin-top: 10%;
  grid-row: 6;
}

.bottomimg {
  grid-column: 1;
  grid-row: 13 / end;
}

.puack {
  padding: 8% 0;
  display: grid;
  grid-template-columns: 800px 400px;
  grid-template-rows: repeat(15, 100px);
  margin: 2% 2%;
  column-gap: 5%;
  justify-items: center;
}

.puack img {
  border: 10px inset #101d42;
  width: 550px;
}

.puack a {
  display: block;
}

.puack #a3 {
  margin-top: 0%;
}
.puack #a6 {
  margin-top: 10%;
}

.puack #a5 {
  grid-row: 7;
  margin-top: 10%;
}

#eh #a2 {
  margin-top: 7%;
}
#eh #a3 {
  margin-top: 12%;
}
#eh #a4 {
  margin-top: 20%;
}

#bro {
  color: #ffda90;
  margin: 5% 0;
  background-color: #1f487e;
  text-align: left;
  padding: 2% 2%;
}

#bro li {
  padding-top: 20px;
}

#bro h1 {
  text-align: center;
}

#bro img {
  position: relative;
  left: 30%;
}

#bro p {
  text-align: center;
  padding: 15px;
  border: 10px inset #ffda90;
}
