/* --primary-color: #1f487e;
  --secondary-color: #1b9aaa;
  --accent1-color: #101d42;
  --accent2-color: #ffda90; */
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
.contentt {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  color: #101d42;
}

main img {
  width: 400px;
  box-sizing: border-box;
}

header {
  color: #ffda90;
  font-family: "Noto Serif", serif;
  background-color: #101d42;
  height: 170px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
}

#logo_link {
  justify-self: center;
  align-self: center;
  background-color: transparent;
  width: 200px;
  display: block;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  top: 8px;
  left: 8%;
}

.logo {
  width: 400px;
  height: 100%;
  background-color: transparent;
}

#bruh nav a {
  text-decoration: none;
  text-align: center;
  color: #ffda90;
  background-color: #101d42;
  display: block;
  padding: 10px;
}

#bruh nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  margin-left: 32%;
}

#bruh nav a:hover {
  color: #1b9aaa;
  background-color: #1f487e;
  padding: 10px;
  border-radius: 5px;
}

#background {
  background-color: #ffda90;
  display: none;
}

main {
  font-family: news gothic, sans-serif;
  color: #101d42;
}

body {
  font-family: news gothic, sans-serif;
  background-color: #ffda90;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

#confused {
  padding: 15px 15px 15px 35%;
  text-align: left;
}

main a {
  text-align: center;
  text-decoration: none;
  color: #101d42;
  background-color: #1b9aaa;
  font-family: "Noto Serif", serif;
  font-size: 18px;
  padding: 15px 30px;
  margin-top: 50px;
  border-radius: 5px;
  font-weight: bolder;
}

main a:hover {
  color: #ffda90;
  background-color: #101d42;
}

#mainboi {
  background-color: #1f487e;
  display: grid;
  grid-template-rows: repeat(14, 100px);
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
  align-items: end;
  justify-items: center;
  height: 1400px;
}

#aca,
#fin {
  grid-column: 2/3;
}

#act,
#hea {
  grid-column: 4/5;
}

#aca {
  grid-row: 4;
}

#hea {
  grid-row: 7;
}

#fin {
  grid-row: 11;
}

#act {
  grid-row: 11/12;
}

#tips {
  grid-row: 12/14;
  grid-column: 2/5;
}

.sahowimg {
  border: 10px outset #101d42;
  width: 450px;
}

#huh {
  display: flex;
  flex-direction: column;
}

#proph {
  background-color: #1f487e;
  align-items: center;
}

#proph a {
  height: 40px;
  max-width: 80px;
  margin: 5% 35%;
  float: left;
  z-index: 1;
}

#proph img {
  width: 500px;
  height: 394px;
  object-fit: cover;
  object-position: 50% 0;
  border: 10px inset #ffda90;
  margin-top: 23%;
  margin-left: 1%;
}

#proph h2,
#proph p {
  color: #101d42;
  text-align: center;
  flex-wrap: wrap;
  width: fit-content;
  margin: 10px auto;
  background-color: #1b9aaa;
  border: 10px inset #ffda90;
  padding: 20px;
}

#yote h2 {
  font-family: "Noto Serif", serif;
}

#yote {
  display: flex;
  margin: 0 auto;
}

#stuff {
  padding-left: 10px;
}

footer {
  color: #ffda90;
  background-color: #101d42;
  padding: 25px 50px;
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
  flex-direction: row;
  font-size: 15px;
}

footer img {
  width: 70px;
}

footer a {
  background-color: transparent;
}

#tips {
  text-align: center;
  height: 50%;
  width: 50%;
  background-color: #1b9aaa;
  color: #101d42;
  border: 10px inset #101d42;
  border-radius: 5px;
}

#tips a {
  color: #101d42;
  background-color: #ffda90;
}

#tips a:hover {
  color: #ffda90;
  background-color: #101d42;
}

#tips p {
  padding: 10px;
}

#search {
  display: block;
  margin: 30px;
  margin-left: 15%;
}

#search p {
  padding: 20px;
  width: 50%;
  background-color: #1b9aaa;
  margin: auto 20px;
}

#arrow {
  width: 150px;
  clear: left;
  z-index: 1;
}

#bar {
  width: 60%;
}

#note {
  margin: 20px 10%;
  padding: 1%;
  border: 10px inset #1f487e;
  background-color: #101d42;
  color: #ffda90;
}
